In [2]:
import pandas as pd
dfd = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6]},
                   index=list('abc'))

In [4]:
dfd

   A  B
a  1  4
b  2  5
c  3  6

In [3]:
dfd.iloc[[0, 2], dfd.columns.get_loc('A')]

a    1
c    3
Name: A, dtype: int64